<!DOCTYPE html>
<html>
  <head>
    <title>Change Membership</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Change Membership</h2>
    <form method="post">
      <label for="accessLevel">Membership Type</label>
      <select id="accessLevel" name="accessLevel">
        <option
          value="0"
          <% if (currentUser.accessLevel == 0) { %> selected="" <% } %>
        >
          None
        </option>
        <option 
          value="1" 
          <% if (currentUser.accessLevel == 1) { %> selected="" <% } %>
        >
          Member
        </option>
        <option 
          value="2" 
          <% if (currentUser.accessLevel == 2) { %> selected="" <% } %>
        >
          Admin
        </option>
      </select>

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= locals.password %>"
      />

      <button>Submit</button>
    </form>
    <% if (locals.errors) { %>
    <div>
      <ul>
        <% for (error of errors) { %>
        <li><%= error.msg %></li>
        <% } %>
      </ul>
    </div>
    <% } %>
  </body>
</html>
